{% extends 'base.html' %}
{% block title %}My Ratings{% endblock %}

{% block content %}

  <form action="{{ url_for('rate.home') }}" method="get" class="d-flex my-4" role="search">
    <input id="recko-search" name="search" class="form-control me-2" type="search" placeholder="Find new movies to rate!" aria-label="Search">
    <button class="btn btn-outline-info" type="submit">Search</button>
  </form>

  {% if searched %}
    <h2>My Finds</h2>
    <hr class="border border-info border-2 opacity-75">

    {% if my_finds %}
      {% with movies=my_finds %}
        {% include "blocks/movies.html" %}
      {% endwith %}
    {% else %}
      <p class="text-body">
        Couldn't find movies you haven't rated yet.
      </p>
    {% endif %}
  {% endif %}

  <h2>My Reckos</h2>
  <hr class="border border-info border-2 opacity-75">

  {% if my_reckos %}
    {% with movies=my_reckos %}
      {% include "blocks/movies.html" %}
    {% endwith %}
  {% else %}
    <p class="text-body">
      No reckos yet - try rating a few {{ 'more' if my_movies else '' }} movies.
    </p>
  {% endif %}

  <h2>My Movies</h2>
  <hr class="border border-info border-2 opacity-75">

  {% if my_movies %}
    {% with movies=my_movies %}
      {% include "blocks/movies.html" %}
    {% endwith %}
  {% else %}
    <p class="text-body">
      You haven't rated any movies yet.
    </p>
  {% endif %}

{% endblock %}